body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e8e1d3;
    color: #2b2118
}

header {
    background-color: #3b3025;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

main {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
}

section {
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
}

h2 {
    color: #5c3b22;
}

p {
    line-height: 1.6;
}

nav{
    background-color: #5c3b22;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

button {
    background-color: #5c3b22;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3b3025;
}

input,
textarea {
    padding: 8px;
    width: 250px;
    max-width: 90%;
}

textarea {
    height: 100px;
}
