body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e8e1d3;
    color: #2b2118
}

header {
    background-color: #3b3025;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

main {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
}

section {
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
}

h2 {
    color: #5c3b22;
}

p {
    line-height: 1.6;
}
